<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Register Page</title>
</head>
<body>

<h1>This is the register page!</h1>

<form method="post" action="/register" th:object="${user}">
	<label for="username-input">Username</label>
	<input id="username-input" type="text" th:field="*{username}">
	<br>
	<label for="password-input">Password</label>
	<input id="password-input" type="password" th:field="*{password}">
	<br>
	<button type="submit">Register</button>
</form>

</body>
</html>