<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	<th:block th:insert="~{partials/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<h1> This is the landing page!</h1>

<ul th:each="user : ${users}">
	<li>Username: <span th:text="${user.username}"></span>, ID: <span th:text="${user.id}"></span></li>

</ul>


<th:block th:insert="~{partials/footer-tags :: footer-tags}"></th:block>
</body>
</html>